body {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(gui.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(gui.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
}